<section class="container">
<div class="jumbotron clearfix">
    <h3 id="#title">Bloc Chat</h3>
</div>
    
<div class="col-md-4 sidebar clearfix">
    <div class="rooms">
        <p class="title">Rooms</p>
        <div class="rooms-btn">
            <button type="button" name="AddRoom" class="btn btn-success center-block" id="addRoom">Add Room</button>
        </div>
    </div>
    
    <div class="list-rooms">
        <div class="chatrooms" ng-repeat="room in home.chatRooms">
            <a class=room-selector>click</a>
        </div>
    </div>
</div>



<div class="col-md-8 main-view clearfix"></div>
</section>