<section class="container">
<div class="jumbotron clearfix">
    <h3 id="#title">Bloc Chat</h3>
</div>
    
<div class="col-md-4 sidebar clearfix">
    <div class="rooms">
        <p class="title">Rooms</p>
        <div class="rooms-btn">
            <button type="button" name="AddRoom" class="btn btn-success center-block" id="addRoom" ng-click="home.openModal()">Add Room</button>
        </div>
    </div>
    
    <div class="list-rooms">
        <div class="chatrooms" ng-repeat="room in home.chatRooms">
            <a class=room-selector ng-click="home.selectRoom(room)">{{room.name}}</a>
        </div>
    </div>
</div>



<div class="col-md-8 main-view clearfix">
    <h4>This is: {{home.currentRoom.name}}</h4>
    <p ng-repeat="message in home.messages">
    <strong>{{message.username}}  {{message.content}}  {{message.sentAt}}</strong>
    </p>
</div>
</section>