<div class="modal-body">
    <div class="header">
        <h4>Click to Create New Chatroom</h4>
    </div>
    <div class="modal-input">
        <div class="modal-form">
            <input type="text" placeholder="Please enter a new room name" class="form-control" ng-model="roomName.name">
        </div>
    </div>
    <div class="modal-buttons">
    <button class="btn-success" type="button" ng-click="createRoom()">Add Room</button>
    <button class="btn-danger" type="button" ng-click="cancelAction()">Cancel</button>
    </div>
</div>