<div class="modal-body">
    <div class="header">
        <h4>Please create a username</h4>
    </div>
    <div class="modal-input">
        <form class="modal-form" name="username">
            <input type="text" placeholder="Please enter a username" class="form-control" name="newUserName" ng-minlength="nameLength" ng-model="newUserName" required>
        </form>
    </div>
    <div class="modal-buttons">
    <button class="btn-success" type="button" ng-show="username.newUserName.$valid" ng-click="createUser()">Create</button>
    </div>
</div>